@import url('https://fonts.googleapis.com/css2?family=El+Messiri:wght@500&display=swap');
ul
{
    margin-top: 30px;
    display: flex;
    list-style-type: none;
    justify-content: center;
}

ul li 
{
   
    padding: 20px;
    border-bottom: tomato solid 3px;
}

ul li a:hover
{
    background-color:rgba(255, 99, 71, 0.616) ;
    padding: 10px;
    border-bottom: none;
    color: white;

}

ul li a
{
    text-decoration: none;
    font-family: cursive;
    font-size: 30px;
    color: tomato;
    font-weight: 500;
}

